progress {
  width: 100%;
  height: 10px;
  border-radius: 999px;
  appearance: none;
  -webkit-appearance: none;
  background: #e5e7eb;
}

progress::-webkit-progress-bar {
  background: #e5e7eb;
}

progress::-webkit-progress-value {
  background: var(--primary);
  border-radius: 999px;
}

progress::-moz-progress-bar {
  background: var(--primary);
  border-radius: 999px;
}
