<div style="margin-top: 20px">
  <input type="file" (change)="onFileChange($event)" />

  <div style="margin-top: 10px">
    <button (click)="submit('OCR')">OCR</button>
    <button (click)="submit('TRANSCRIPTION')">Transcribe</button>
  </div>

  <!-- STATUS -->
  <div *ngIf="status" style="margin-top: 20px">
    <p><b>Status:</b> {{ status }}</p>
    <p *ngIf="stage"><b>Stage:</b> {{ stage }}</p>
    <p *ngIf="progress"><b>Progress:</b> {{ progress }}%</p>

    <progress
      *ngIf="progress"
      [value]="progress"
      max="100"
      style="width: 300px"
    ></progress>
  </div>

  <!-- OUTPUT -->
  <div *ngIf="status === 'COMPLETED' && outputPath" style="margin-top: 20px">
    <a [href]="outputPath" target="_blank">⬇ Download Result</a>
  </div>
</div>
